@import "tailwindcss";

/* Hide scrollbar for Chrome, Safari, Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
  scrollbar-width: none;
  -ms-overflow-style: none;
}


.project-list {
  transition: 0.5s all ease-in-out;
  scale: 1;
}

.project-list:hover {
  transition: 0.5s all ease-in-out;
  scale: 1.5;
}